# Virtual Environment
.venv/
venv/

# Dataset
data/
*.csv
*.parquet

# Jupyter
.ipynb_checkpoints/

# Python Cache
__pycache__/
*.pyc

# Models
models/
*.pkl
*.joblib

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db